#backgroundPane{
    -fx-background-image: url("/sample/Client/ClientImage/StartBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

@font-face {
    font-family: Exo-Medium;
    src: url("/sample/Utilities/Fonts/Exo-Medium.otf") format("opentype");
}