#backgroundPane{
    -fx-background-image: url("/sample/Client/ClientImage/GameBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

.autofill-text {
    -fx-skin: "np.com.ngopal.control.AutoFillTextBoxSkin";
}