#pane{
    -fx-background-image: url("/sample/Server/ServerImage/StartBackground.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}
#textWithServerIp{
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}
#textWithServerPort{
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}