#paneCounter{
    -fx-background-image: url("/sample/Server/ServerImage/StartBackgroundCounter.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}
#textWithClientNumber{
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}